.CharacterList{
    min-height:100vh;
    min-width:100vw;
    overflow-x:hidden;
    background-image: url(../../Assets/beth.jpg);
}
h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
input{
    size: 100px;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 20px;
    border-color: black;
}
button{
    color: whitesmoke;
    padding: 70px 70px;
    border-radius: 10px;
    font-size: 42px;
    background-color: whitesmoke;
    
}
button:hover{
    transform: rotate(360deg);
    color:black;
    transition:1s;
    filter: sepia(100%);
}